

@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&family=Patrick+Hand+SC&display=swap');

@font-face {
    font-family: "GANG BANG CRIME";
    src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/38816/GANG_BANG_CRIME.ttf);
    font-weight:400;
}

body {
  padding: 50px;
  background-color: blue;
}

h1 {
  text-align: center;
  font: 8em "GANG BANG CRIME";
  font-weight: 900;
  color: #AB1119;
  text-shadow: 
    1px -1px #4EA24A,
    2px -2px #4EA24A,
    3px -3px #4EA24A,
    -1px 1px #DA505F,
    -2px 2px #4EA24A,
    -3px 3px #4EA24A,
    1px 1px #DA505F,
    2px 2px #061019,
    3px 3px #061019,
    -4px 4px #061019,
    5px 5px #4EA24A,
    6px 6px #E5E37C,
    7px 7px #061019,
    -8px 8px #467B81,
    -9px 9px #467B81,
    -10px 10px #467B81,
    11px 11px #E5E37C,
    12px 12px #E5E37C,
    -13px 13px #AB1119,
    -14px 14px #AB1119,
    -15px 15px #AB1119;
}

h3{
  font-family: 'Finger Paint', cursive;
  font-size: 60px;
  color: white;
  position: absolute;
  top: 15px;
  left: 105px;
}

.hidden {
  display: none !important;
}

.street {
  display: flex;
  align-items: flex-end;
  margin-bottom: 2em;
}

.street .sky-scraper {
  background: #061019;
  color: white;

  height: 700px;
  width: 50px;
  border-radius: 25px;
  padding: 10px;
  margin-bottom: 2px;
  margin-right: 5px;

  writing-mode: vertical-lr;
  line-height: 30px;
  font-family: 'Finger Paint', cursive;
  font-size: 18px;

  cursor: pointer;
}

.street .sky-scraper.active {
  background: blue;
  color:blue;
}

.street .sky-scraper:hover {
  background: #AB1119;
  color: white;
}

.photo-detail {
  display: flex;
}

.photo-detail .figure {
  width: 150px;
  flex: none;
  margin-right: 30px;
}

.photo-detail .cover-image {
  width: 300%;
  border: 5px solid white;
  padding: 5px;
  box-sizing: border-box;
  margin-top: 20px;
}

.photo-detail .info {
  max-width: 700px;
  margin-top: 20px;
  margin-left: 350px;
  font-size: 18px;
  font-family: 'Finger Paint', cursive;
}

.photo-detail .title {
  max-width: 600px;
  font-family: 'Finger Paint', cursive;
  font-size: 36px;
  color: white;
  text-transform: uppercase;
  margin-top: 0;
}

.photo-detail .description {
  max-width: 600px;
  margin-top: 0.5em;
  color: white;
  font-family: 'Patrick Hand SC', cursive;
  font-size: 24px;
  line-height: auto;
}

a{
  color: white;
}

a:hover{
  color: blue;
  background-color: #24c971;
  padding: 10px;
}

@media (max-width: 600px) {
  .photo-detail {
    flex-direction: column;
  }
  .photo-detail .figure {
    width: 100%;
    max-width: 300px;
    margin: auto;
    margin-bottom: 2em;
  }
}

/* skate board animation */
#skateboard {
  background:rgb(30,30,30);
  background:linear-gradient(to right, rgb(30,30,30) 0%,rgb(38,38,38) 15%,rgb(38,38,38) 85%,rgb(30,30,30) 100%);
  width:400px;
  height:110px;
  left:50%;
  top:50%;
  margin:-55px 0 0 -200px;
  border-radius:110px;
  box-shadow:0 1px 0 #a98c4a,
             0 2px 0 #a98c4a,
             0 3px 0 #a98c4a,
             0 4px 0 #a98c4a,
             0 5px 0 #a98c4a,
             0 6px 0 #a98c4a,
             0 7px 0 rgb(50,50,50);
  position:absolute;
  font-size:0;
  transform:rotateX(-60deg);
}

#skateboard.trick {
  animation:trick 0.4s 1 linear;
}

.supp {
  background:rgb(200,200,200);
  width:14px;
  height:16px;
  top:118px;
  display:inline-block;
  position:relative;
}

#s1 {left:60px;}

#s2 {left:310px;}

.wheel {
  background:#fff6d7;
  width:30px;
  height:30px;
  top:24px;
  border-radius:30px;
  border:1px solid #8e8978;
  position:relative;
  rotateX(-5deg)
}

.wheel span {
  background:#8e8978;
  width:8px;
  height:8px;
  left:11px;
  top:11px;
  border-radius:8px;
  position:relative;
  display:block;
}

#w1 {
  left:-16px;
  box-shadow:0 -1px #b1ab97,
             0 -2px #b1ab97,
             1px -3px #b1ab97,
             1px -4px #b1ab97,
             1px -5px #b1ab97,
             1px -6px #b1ab97,
             1px -7px #b1ab97,
             2px -8px #b1ab97,
             2px -9px #b1ab97,
             2px -10px #b1ab97,
             2px -11px #b1ab97,
             2px -12px #b1ab97,
             3px -13px #b1ab97,
             3px -14px #b1ab97,
             3px -15px #b1ab97,
             3px -16px #b1ab97,
             3px -17px #b1ab97,
             4px -18px #b1ab97;
}
#w2 {
  left:-3px;
  box-shadow:0 -1px #b1ab97,
             0 -2px #b1ab97,
             -1px -3px #b1ab97,
             -1px -4px #b1ab97,
             -1px -5px #b1ab97,
             -1px -6px #b1ab97,
             -1px -7px #b1ab97,
             -2px -8px #b1ab97,
             -2px -9px #b1ab97,
             -2px -10px #b1ab97,
             -2px -11px #b1ab97,
             -2px -12px #b1ab97,
             -3px -13px #b1ab97,
             -3px -14px #b1ab97,
             -3px -15px #b1ab97,
             -3px -16px #b1ab97,
             -3px -17px #b1ab97,
             -4px -18px #b1ab97;
}

@keyframes trick {
  0% {top:50%;transform:rotate(0) rotateX(0) rotateY(0);}
  25% {transform:rotate(20deg) rotateX(20deg) rotateY(2deg);}
  50% {top:10%;transform:rotate(20deg) rotateX(180deg) rotateY(30deg);}
  100% {top:50%;transform:rotate(0) rotateX(360deg) rotateY(0);}
}

